# Ignorar una carpeta específica
# carpeta_ignorada/

# Ignorar un archivo específico
# archivo_ignorado.txt

# Ignorar todos los archivos con una extensión específica
*.RData
*.RHistory
*.gitingore
*.desktop.ini
*desktop.ini

# Ignorar una carpeta y todo su contenido
analisis old/*
.Rproj.user
